body {
  background-color: #eaeaea !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
}

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.profile-image--icon.ui.button {
  position: absolute !important;
  top: 0%;
  right: 0%;
  font-size: 0.9em;
  background-color: rgba(255, 255, 255, 0.95);
  margin: 0;
  border-radius: 0;
  border-bottom-left-radius: 15%;
}

.modal .close.icon {
  position: absolute;
  top: 0;
  right: 0;
  filter: invert(100%);
}

.ui.dropdown.navbar-profile--dropdown {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  padding-left: 4em;
  width: max-content;
}

.navbar--menu.ui.menu .item:before {
  width: 0;
}

.ui.buttons .expertList--filterButton.disabled {
  opacity: 1 !important;
  background-color: rgb(33, 138, 174);
}

.ui.search > .results.transition {
  overflow-y: auto;
  max-height: 500px !important;
}

.becomeExpert--skillLabel__hover.ui.label:hover {
  animation: deleteColor 0.25s forwards;
}

@keyframes deleteColor {
  100% {
    color: white;
    background-color: rgba(219, 40, 40, 0.9);
  }
}

.ui.segment.becomeExpert--addPlaceholder__hover:hover {
  background-color: #f9fafb;
  transition: background-color 0.12s linear;
}

.asAButton:hover {
  cursor: pointer;
}
