body {
  background-color: #eaeaea !important;
}

.positive--custom {
  color: white !important;
  background-color: rgb(49, 132, 196) !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
}

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.profile-image--icon.ui.button {
  position: absolute !important;
  top: 0%;
  right: 0%;
  font-size: 0.9em;
  background-color: rgba(255, 255, 255, 0.95);
  margin: 0;
  border-radius: 0;
  border-bottom-left-radius: 15%;
}

.modal .close.icon {
  position: absolute;
  top: 0;
  right: 0;
  filter: invert(100%);
}

.ui.dropdown.navbar-profile--dropdown {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  padding-left: 4em;
  width: max-content;
}

.navbar--menu.ui.menu .item:before {
  width: 0;
}

.ui .expertList--filterButton.disabled {
  opacity: 1 !important;
  background-color: rgb(33, 138, 174);
}

.ui.search > .results.transition {
  overflow-y: auto;
  max-height: 500px !important;
}

.becomeExpert--skillLabel__hover.ui.label:hover {
  animation: deleteColor 0.25s forwards;
}

@keyframes deleteColor {
  100% {
    color: white;
    background-color: rgba(219, 40, 40, 0.9);
  }
}

.ui.segment.becomeExpert--addPlaceholder__hover:hover {
  background-color: #f9fafb;
  transition: background-color 0.12s linear;
}

.asAButton:hover {
  cursor: pointer;
}

.file-thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
  margin-bottom: 10px;
  max-width: 150px;
  max-height: 212px;
  height: auto;
  word-wrap: break-word;
  overflow: hidden;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0.28571429rem 0.28571429rem;
}

.file-thumbnail-card {
  display: block;
  max-width: 150px;
  max-height: 212px;
  margin-bottom: 6px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: rgba(80, 80, 80, 0.6);
}

.file-thumbnail-card:hover .overlay {
  opacity: 1;
}

.portfolioItem-nameHeader {
  font-size: 2em;
  padding: 15px 10px;
  box-shadow: 0px -2px 3px -2px #888;
}

.modal.modal-file-preview {
  width: auto;
}
.modal.modal-file-preview .content {
  padding: 0;
}

.ui.buttons.pdfNavigation-buttons {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
  border-radius: 4px;
  background-color: white;
}

.ui.buttons.pdfNavigation-buttons .ui.button,
.ui.buttons.pdfNavigation-buttons .ui.label {
  background-color: white;
}

.react-pdf__Document:hover .pdfNavigation-buttons {
  opacity: 1;
}

.react-date-picker,
.react-date-picker__wrapper {
  background-color: white;
  font-size: 1em;
  border-radius: 0.28571429rem;
  /* overflow: hidden; */
}
.react-date-picker__wrapper {
  padding: 0.5em 0.8em;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
  color: rgba(0, 0, 0, 0.87);
  vertical-align: revert !important;
  transition: color 0.1s ease, border-color 0.1s ease;
}

.react-date-picker__wrapper:focus-within {
  border: 1px solid rgb(133, 183, 217) !important;
}

.react-date-picker input {
  margin: 0 1px 5px 1px !important;
  padding: 0px !important;
  border: none !important;
  /* overflow: hidden !important; */
  vertical-align: revert !important;
}

.react-date-picker span {
}
